body{
  margin:0;
  padding:0;
  font-family:Helvetica;  
}

h1{
  color:green;
}

.green-title{
  color:green;
  background-color:black;
  padding:25px;
  border:5px solid green;
}

.title{
  color:white;
  background-color:black;  
}